/* Font from: https://www.fontzip.com/celtic */
@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf')  format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

header a,
footer a {
    text-decoration: none;
}

header a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

#top-header {
    background-color: #E0DFD5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    font-family: Celtic;
    font-size: 3.75rem;
    padding-left: 1.25rem;
}

#log-links {

}

#log-links li {
    list-style-type: none;
    padding-right: 10px;
    display: inline-block;
}

/* hero image */

#hero-outer {
    min-height: 28rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    min-height: 28rem;
    max-width: 100%;
    background: url("../images/hero-image.webp") no-repeat center;
    background-size: cover;
}

#cover-text {
    display: flex;
    width: 70%;
    height: fit-content;
    text-transform: uppercase;
    position: absolute;
    left: 15%;
    top: 10%;
    text-align: center;
}

#cover-text h2 {
    font-size: 2rem;
    font-family: Celtic;
    margin: auto;
}

#intro-paragraph {
    text-align: center;
}