/* Font from: https://www.fontzip.com/celtic */
@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf')  format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

/* hero image */

#hero-outer {
    min-height: 28rem;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    min-height: 28rem;
    max-width: 100%;
    background: url("../images/hero-image.webp") no-repeat center;
    background-size: cover;
}

#cover-text {
    display: flex;
    width: 70%;
    height: fit-content;
    text-transform: uppercase;
    position: absolute;
    left: 15%;
    top: 10%;
    text-align: center;
}

#cover-text h2 {
    font-size: 2rem;
    font-family: Celtic;
    margin: auto;
}

#intro-paragraph {
    text-align: center;
}