/* Font from: https://www.fontzip.com/celtic */
@font-face {
    font-family: Celtic;
    src: url('../fonts/Celtic.ttf')  format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
