{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
        <div class="container align-items-center py-3">

            {% if notice_added %}
        <div class="alert alert-success" role="alert">
            Your notice is awaiting approval
        </div>
        {% endif %}

        {% if user.is_authenticated %}

        <form class="card p-3 bg-light col-md-7 mx-auto" action="{% url 'add_notice' %}" method="post">
            <div id="div_id_title" class="control-group mb-3">
                <label for="id_title" class="control-label requiredField form-label">Title<span class="asteriskField">*</span></label>
                <div class="controls">
                    <input type="text" name="title" maxlength="45" class="textinput textInput form-control" required="" id="id_title">
                </div>
            </div>
            <div id="div_id_description" class="control-group mb-3">
                <label for="id_description" class="control-label requiredField form-label">
                Description<span class="asteriskField">*</span></label>
                <div class="controls">
                    <textarea name="description" cols="40" rows="10" class="textarea form-control" required="" id="id_description"></textarea>
                </div>
            </div>
            <div id="div_id_contact_number" class="control-group mb-3">
                <label for="id_contact_number" class="control-label form-label">
                Contact number
            </label>
                <div class="controls">
                    <input type="text" name="contact_number" maxlength="25" class="textinput textInput form-control" id="id_contact_number">
                </div>
            </div>
            <div id="div_id_contact_email" class="control-group mb-3">
                <label for="id_contact_email" class="control-label requiredField form-label">
                Contact email<span class="asteriskField">*</span> </label>
                <div class="controls">
                    <input type="email" name="contact_email" maxlength="254" class="emailinput form-control" required="" id="id_contact_email">
                </div>
            </div>
            <div id="div_id_location" class="control-group mb-3">
                <label for="id_location" class="control-label requiredField form-label">
                Location<span class="asteriskField">*</span> </label>
                <div class="controls">
                    <input type="text" name="location" maxlength="60" class="textinput textInput form-control" required="" id="id_location">
                </div>
            </div>
            <div id="div_id_background_image" class="control-group mb-3">
                <label for="id_background_image" class="control-label requiredField form-label">
                Image<span class="asteriskField">*</span> </label>
                <div class="controls">
                    <input type="file" name="background_image" class="clearablefileinput form-control" id="id_background_image">
                </div>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn">Submit</button>
        </form>

    {% else %}

    <p>500 page</p>

    {% endif %}
            </div>

{% endblock %}