{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  CSS links  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--  JS scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b83175b9a4.js" crossorigin="anonymous"></script>

    <title>Ogonnelloe</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
</head>
<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="{% url 'home' %}">Ogonnelloe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'community_update_list' %}">Community Updates</a>
            <a class="nav-link" href="{% url 'plan_page' %}">3 Year Plan</a>
            <a class="nav-link" href="{% url 'exchange_page' %}">Exchange</a>
            <a class="nav-link" href="{% url 'noticeboard' %}">Noticeboard</a>
            <hr class="dropdown-divider">
            {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
              <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

</header>

<main>
    {% block content %}
    <!--  Content Goes Here  -->
    {% endblock content %}
</main>

  <!-- Copyright -->
  <div class="text-center p-4">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/sean-meade?tab=repositories">Sean Meade</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>