{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Ogonnelloe</title>
</head>
<body>

<header>

    <div id="top-header">
        <div>
            <a href="">
                <h1 id="logo">Ogonnelloe</h1>
            </a>
        </div>
        <div id="log-links">
            <ul>
                <li>Log in</li>
                <li>Logout</li>
            </ul>
        </div>
    </div>

    <nav >
        <ul id="menu">
            <li>
                <a href="" >Home</a>
            </li>
            <li>
                <a href="">Updates</a>
            </li>
            <li>
                <a href="">Local Businesses</a>
            </li>
            <li>
                <a href="">Local Groups</a>
            </li>
        </ul>
    </nav>

</header>

<main>
    {% block content %}
    <!--  Content Goes Here  -->
    {% endblock content %}
</main>

<footer>

</footer>

</body>
</html>