{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<p>{{post.title}}</p>
<p>{{post.created_on}}</p>
<!-- safe means that the value content is returned as
is (html tags and all) so that it renders in the browser -->
<p>{{post.content | safe}}</p>

{% if user.is_authenticated %}

<form action="{% url 'community_update_like' post.slug %}" method="POST">
    {% csrf_token %}

    {% if liked %}
    <button type="submit" name="community_update_like" value="{{post.slug}}" class="btn-like">Unlike</button>
    {% else %}
    <button type="submit" name="community_update_like" value="{{post.slug}}" class="btn-like">like</button>
    {% endif %}
</form>

{% else %}

<p>Log in to like</p>

{% endif %}

<p><strong>{{post.number_of_likes}}</strong></p>

{% for comment in comments %}
<p>{{comment.body}}</p>
<p>From: {{comment.commenter}}</p>
{% endfor %}

{% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
    </div>
{% else %}

{% if user.is_authenticated %}
<p>{{user.username}}</p>
<form method="post">
    {{ comment_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn">Submit</button>
</form>
{% endif %}
{% endif %}

{% endblock %}