{% extends "base.html" %}

{% block content %}

    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h2>Welcome to Ogonnelloes' Community Website</h2>
        </div>
    </section>

    <div class="container my-3">
        <div class="row">

            {% for update in recent_posts %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        {% if "placeholder" in update.featured_image.url %}
                        <img src="{{ update.featured_image.url|add:".jpg" }}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="{{ update.featured_image.url }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ update.title }}</h5>
                            <p class="card-text">{{ update.content | slice:'0:500' | safe}} ...</p>
                            <p class="card-text"><small class="text-muted">Created on: {{ update.created_on }}</small></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="card-group">

    </div>

{% endblock %}