{% extends "base.html" %}

{% block content %}

    <section id="hero-outer">
        <div id="hero-image"></div>
        <div id="cover-text">
            <h2>Welcome to Ogonnelloes' Community Website</h2>
        </div>
    </section>

    <div class="card-group">
        {% for update in recent_posts %}
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ update.title }}</h5>
                <p class="card-text">{{ update.excerpt }}</p>
                <p class="card-text"><small class="text-muted">Created on: {{ update.created_on }}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}