{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Noticeboard</h1>
        <a href="{% url 'add_notice' %}" class="btn btn-primary">Add Notice</a>

    {% if context.notice_added %}
        <div class="alert alert-success" role="alert">
            Your Notice is awaiting approval
        </div>
    {% endif %}

    <div class="row">
    {% for notice in object_list %}
    <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                {% if "placeholder" in notice.background_image.url %}
                <img src="{{ notice.background_image.url|add:".jpg" }}" class="card-img-top" alt="...">
                {% else %}
                <img src="{{ notice.background_image.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ notice.title }}</h5>
                    <p class="card-text">{{ notice.description| safe}}</p>
                    <p class="card-text"><small class="text-muted">Created on: {{ notice.created_on }}</small></p>
                    <a href="{% url 'delete_notice' pk=notice.id %}" class="btn btn-primary">Delete</a>
                    <a href="{% url 'update_notice' pk=notice.id %}" class="btn btn-primary">Update</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}